.admin-form input,
.admin-form select {
  width: 400px;
}
.admin-form textarea {
  height: 180px;
}
.admin-form input[type="radio"],
.admin-form input[type="checkbox"],
.admin-form input[type="submit"] {
  width: auto;
}
.survey-overview-table {
  font-size: 12px;
  vertical-align: middle;
}
.survey-overview-table > tbody > tr > td{
  vertical-align: middle;
}
.green-bg { background-color:#e5ffea; }
.red-bg { background-color:#ffbfbf; }
