html {
  #color:#222;
  font-size:0.95em;
  #line-height:1.4;
  font-family: 'Droid Sans',sans-serif;
}

body {
  padding-top: 63px; /* Clear navbar */
}

h1 {
  font-size: 2.4em;
  margin-top: 1em;
}

h2 {
  font-size: 1.8em;
  margin-top: 0.8em;
}

h3 {
  font-size: 1.3em;
  margin-top: 0.8em;
}

h4 {
  font-size: 1em;
  margin-top: 0.8em;
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

img {
  padding-left: 0.3em;
  padding-bottom: 0.3em;
}

.big-text {
  font-size: 2.25em;
  font-weight: bold;
  text-align: center;
  margin-bottom:0.6em;
}

nav {
 background-color:#ffcc00;
}

/* Fix the width to be 768px.
@media (max-width: 768px) {
  // Adjust the size of the banner.
  .jumbotron img {
    max-width:100px;
  }
}*/

.article-large {
  margin-bottom: 2em;
}

.article-date {
  color: #888;
  font-size:1.05em;
}

.article-short {
  padding: 0.8em 0 0 0.6em;
}

.thumbs {
  text-align: center;
}

.thumbs img {
  margin-left: 0.3em;
  margin-bottom: 0.3em;
}

#imagepreview {
  width:100%;
  padding:0.8em;
}

#imagepreview-caption {
  padding: 0 0.8em 0.8em 0.8em;
}

.splash {
  padding: 0.4em 0.2em 0 0.2em;
  font-size:1.4em;
  font-weight:bold;
  text-align:center;
}

.lead {
  padding: 0.4em 0.2em 0 0.2em;
  font-size:1.4em;
  font-weight:bold;
}

.banner-imgs {
  text-align: center;
  padding: 4px 4px;
}

.banner-imgs > * {
  vertical-align:top;
}

.banner-imgs img {
  padding: 0 4px 0 4px;
}

.article-list li {
  margin:0.7em 0;
}

.caption {
  margin-top:-0.2em;
  font-size:1.2em;
  text-align:center;
}

.imgcaption {
  margin-top:0.4em;
  font-size:0.9em;
  width: 110px;
}

.video {
  text-align:center;
}

.rating-1to5 input[type=radio] { margin-right: 0.4em; }
.rating-1to5 span { padding-right: 1em; }

.footer {
  background-color:#f5f5f5;
  color:gray;
  bottom: 0;
  width:100%;
  min-height: 160px;
  padding:1.4em;
  margin-top:2em;
  clear:both;
  font-size: 0.85em;
}
footer ul {
  padding:0;
  margin:0;
}
footer li {
  list-style-type:none;
}

.page-contents {
  background-color: #ccddff;
  border-radius:4px;
  padding:0.5em 0.8em 0.4em 0.8em;
  margin:0.2em 0 0.6em 0.8em;
  min-width: 180px;
  color:white;
  font-weight:bold;
}

.page-contents li {
  padding-top:0.4em;
}

.notice {
  background-color: #ccddff;
  border-radius:4px;
  padding:0.8em;
  margin:0.8em 0 0.8em 0;
}

button.close {
  padding: 0 0.4em 0 0;
}

body.modal-open {
  overflow: visible !important;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.green { color: green; }
.red { color: red; }

.fb_iframe_widget span {
  vertical-align: baseline !important;
}

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 10px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}
