{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% block content %}

<h1>Apply for a home survey</h1>

{% if notice %}
<div class="notice lead">
  {{ notice }}
</div>
{% endif %}

<p>Please complete the form below to apply for a survey, but before you do, we
ask that you read through the <a href="/pre-survey-guide">survey preparation
and information guide</a> and are happy to make the necessary preparations for
the survey, and to report your progress back to us after one month and after
one year.</p>

<p>CHEESE Project surveys are available to anyone in the greater Bristol area
and we <a href="/partners">work with</a> community-based
groups to deliver surveys in Bishopston, Cotham, Easton, Filwood (Knowle West),
Lawrence Weston, Lockleaze, Redland, and Westbury-on-Trym. Since we are a small
volunteer-led organisation, the number of surveys we can do is limited and they
will be offered on a first-come first-served basis and depend on the scheduling
with other surveys and travel time and costs.</p>

<p>Details of the <strong>survey process</strong> and <strong>pricing</strong>
          can be found on <a href="/home-surveys">this page</a>.</p>

<p>Once you have submitted the form, we will be in contact to organise a date
with you.  If you have any questions about our surveys, then please get in
touch by emailing
<a href="mailto:surveys@cheeseproject.co.uk">surveys@cheeseproject.co.uk</a>.</p>

<div id="survey-form" style="padding-top:1.2em">
  <form method="POST" action="" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ macros.form_section('Your details') }}
    {{ macros.render_form_field(form.name) }}
    {{ macros.render_form_field(form.address_line) }}
    {{ macros.render_form_field(form.postcode) }}
    {{ macros.render_form_field(form.ward) }}
    {{ macros.render_form_field(form.email) }}
    {{ macros.render_form_field(form.telephone) }}
    {{ macros.render_form_field(form.mobile) }}
    {{ macros.end_form_section() }}
    {{ macros.form_section('Details of your home') }}
    {{ macros.render_form_field(form.building_type) }}
    {{ macros.render_form_field(form.num_main_rooms) }}
    {{ macros.render_form_field(form.can_heat_comfortably) }}
    {{ macros.render_form_field(form.expected_benefit) }}
    {{ macros.render_form_field(form.free_survey_consideration) }}
    {{ macros.end_form_section() }}
    {{ macros.render_form_field(form.availability) }}
    {{ macros.render_form_field(form.referral) }}
    <label>* required fields</label>
    <p>As part of the overall aims of the CHEESE Project, we are compiling
    information on common thermal faults and energy-efficiency measures. We
    collect anonymised thermal photos during surveys to use as examples, but
    we need your permission to use them publicly (more details <a
      href="/privacy-notice#processing-data">here</a>).</p>
    {{ macros.render_form_field(form.photo_release) }}
    <p>Having a CHEESE survey requires some preparation beforehand to ensure
    the survey can be performed effectively, and to measure the impact of what
    the project is doing, we will ask you to report your progress one
    month and one year after the survey.</p>
    {{ macros.render_form_field(form.agree_to_requirements) }}

    <p>Please note that your agreement with the C.H.E.E.S.E. Project CIC is to
    provide a thermal-imaging survey with interpretation of the thermal images
    given by the surveyor. This is our area of expertise. We will also make
    <i>suggestions</i> for potential remedial actions, but we regret that we
    cannot provide <i>advice</i> on remedial work and limit our financial
    liability to the survey fee. This is to avoid costly indemnity insurance
    payments. By submitting this form you agree to these contractual
    limitations.</p>
    
    <p>{% include 'privacy-statement.html' %}</p>
    <button class="btn" type="submit">Submit</button>
  </form>
</div>

{% endblock %}
