{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% block content %}

<h1>Apply for a home survey</h1>

<!--<div class="notice lead">
<p>The 2016/17 surveying season has now finished, but you can still apply for a
survey next winter, between November 2017 and April 2018.</p>
</div>-->

<p>Please complete the form below to apply for a survey, but before you do, we
ask that you read through the <a href="/pre-survey-guide">survey preparation
and information guide</a> and are happy to make the necessary preparations for
the survey, and to report your progress back to us after one month and after
one year.</p>

<p>Note that The CHEESE Project offers surveys to anyone in Bristol, but we do
concentrate on six wards in Bristol: <strong>Bishopston</strong>,
<strong>Cotham</strong>, <strong>Easton</strong>, <strong>Filwood (Knowle
West)</strong>, <strong>Lawrence Weston</strong> and <strong>Redland</strong>.
Since we are a small volunteer-led organisation, the number of surveys we can
do is limited and they will be offered on a first-come first-served basis and
depend on the scheduling with other surveys and travel time and costs.</p>

<p>Once you have submitted the form, we will be in contact to organise a date
with you.  If you have any questions about our surveys, then please get in
touch by emailing <a
href="mailto:surveys@cheeseproject.co.uk">surveys@cheeseproject.co.uk</a>.</p>

<div id="survey-form" style="padding-top:1.2em">
  <form method="POST" action="" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ macros.form_section('Your details') }}
    {{ macros.render_form_field(form.name) }}
    {{ macros.render_form_field(form.address_line) }}
    {{ macros.render_form_field(form.postcode) }}
    {{ macros.render_form_field(form.ward) }}
    {{ macros.render_form_field(form.email) }}
    {{ macros.render_form_field(form.telephone) }}
    {{ macros.render_form_field(form.mobile) }}
    {{ macros.end_form_section() }}
    {{ macros.form_section('Details of your home') }}
    {{ macros.render_form_field(form.building_type) }}
    {{ macros.render_form_field(form.num_main_rooms) }}
    {{ macros.render_form_field(form.can_heat_comfortably) }}
    {{ macros.render_form_field(form.expected_benefit) }}
    {{ macros.render_form_field(form.free_survey_consideration) }}
    {{ macros.end_form_section() }}
    {{ macros.render_form_field(form.referral) }}
    {{ macros.render_form_field(form.availability) }}
    {{ macros.render_form_field(form.agree_to_requirements) }}
    <label></label>
    <button class="btn" type="submit">Submit</button>
  </form>
</div>

{% endblock %}
