{% extends "base.html" %}
{% block content %}
<h1>{{page.meta.title}}</h1>
<div class='float-right'>
<a href="https://twitter.com/share" class="twitter-share-button"
   data-show-count="false"
   data-text="The CHEESE Project: {{page.meta.title}}"
   data-url="{{path}}">Tweet</a>
<div class="fb-share-button"
     data-href="{{path}}"
     data-layout="button"></div>
</div>
<p>{{page.meta.date.strftime('%B %Y')}}</p>
{{page}}
{% import 'macros.html' as macros %}
{% if 'gallery' in page.meta %}
  {{ macros.gallery(page.meta['gallery']) }}
{% endif %}
{% endblock %}
