{% extends "base.html" %}
{% block title %}
{{page.meta.title}} - {{config.PAGE_TITLE}}
{% endblock %}
{% block content %}
<h1>{{page.meta.title}}</h1>
<div class='float-right'>
<a href="https://twitter.com/share" class="twitter-share-button"
   data-show-count="false"
   data-text="The CHEESE Project: {{page.meta.title}}"
   data-url="{{path}}">Tweet</a>
<div class="fb-share-button"
     data-href="{{path}}"
     data-layout="button"></div>
</div>
<p>
  {% if 'author' in page.meta %}
    {{page.meta.author}},
  {% endif %}
  {{page.meta.date.strftime('%B %Y')}}
</p>

{% if 'status' in page.meta and page.meta['status'] == 'draft' %}
<div class="alert alert-warning" role="alert">
PLEASE NOTE: THIS ARTICLE IS A DRAFT
</div>
{% endif %}
{{page}}
{% import 'macros.html' as macros %}
{% if 'gallery' in page.meta %}
  {{ macros.gallery(page.meta['gallery']) }}
{% endif %}
{% endblock %}
