<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>The C.H.E.E.S.E. Project Bristol</title>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/bootstrap-datepicker.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/lightbox.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/chosen.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans'
          rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}">
  </head>
  <body>
    <header>
    <nav class="navbar navbar-expand-md fixed-top navbar-light">
      <a class="navbar-brand" href="/">
        <img src="{{url_for('cheese.assets', filename='images/cheese-house.png')}}" width="35px"></img>
        <strong>The C.H.E.E.S.E. Project</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbars"
              aria-controls="navbars"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbars">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/news">News</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="surveys-dropdown"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Surveys</a>
            <div class="dropdown-menu" aria-labelledby="surveys-dropdown">
              <a class="dropdown-item" href="/home-surveys">
                Information</a>
              <a class="dropdown-item" href="/testimonials">
                Customer testimonials</a>
              <a class="dropdown-item" href="/apply-for-a-survey">
                Apply</a>
              <a class="dropdown-item" href="/pre-survey-guide">
                Information and preparation guide</a>
              <a class="dropdown-item" href="/taking-action">
                Resources for taking action</a>
              <a class="dropdown-item" href="/cheese-box">
                The CHEESE box</a>
              <a class="dropdown-item" href="/one-month-feedback">
              One month feedback form</a>
              <a class="dropdown-item" href="/one-year-feedback">
              One year feedback form</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="get-involved-dropdown"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Get Involved</a>
            <div class="dropdown-menu" aria-labelledby="get-involved-dropdown">
              <a class="dropdown-item" href="/energy-tracer-training">
                As an Energy Tracer surveyor</a>
              <a class="dropdown-item" href="/volunteering">
                As a volunteer</a>
              <a class="dropdown-item" href="/membership">
                Become a member</a>
              <a class="dropdown-item" href="/publicity-materials">
                Publicity materials</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="about-dropdown"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
            <div class="dropdown-menu" aria-labelledby="about-dropdown">
              <a class="dropdown-item" href="/overview">
                Overview</a>
              <a class="dropdown-item" href="/partners">
                Who we work with</a>
              <a class="dropdown-item" href="/media-coverage">
                Media coverage</a>
              <a class="dropdown-item" href="/management-and-funding">
                Management and funding</a>
              <a class="dropdown-item" href="/privacy-notice">
                Privacy notice</a>
              <a class="dropdown-item" href="/faq">
                FAQ</a>
            </div>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="http://www.heatview.co.uk">The Heatview map</a></li>-->
          {% if current_user.is_authenticated %}
            <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{current_user.email}}</a>
            <div class="dropdown-menu" aria-labelledby="user-dropdown">
                {% if current_user.has_role('admin', 'manager', 'surveyor') %}
                  <a class="dropdown-item" href="/energy-tracer-resources">Energy Tracer resources</a>
                  <a class="dropdown-item" href="{{url_for('admin.index')}}">CHEESE database</a>
                {% endif %}
                {% if current_user.has_role('admin') %}
                  <a class="dropdown-item" href="{{url_for('user.invite')}}">Invite user</a>
                {% endif %}
                <a class="dropdown-item" href="{{url_for('user.change_password')}}">Change password</a>
                <a class="dropdown-item" href="{{url_for('user.logout')}}">Sign out</a>
              </ul>
            </div>
          {% endif %}
        </ul>
      </div>
    </nav>
    </header>
    {% block jumbo %}{% endblock %}
    <main class="container" role="main">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="pt-3"></div>
          {% for message in messages %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <p>The C.H.E.E.S.E. Project CIC is a Bristol-based not-for-profit
            community enterprise that aims to reduce domestic energy losses, at low cost.
            This saves money and reduces our carbon emissions and it improves the comfort
            and health of low-income families, helping them to avoid fuel poverty.</p>
          </div>
          <div class="col-md-4">
            <div class="pb-2">
              Get in touch:<br>
              <ul>
                <li><a href="mailto:info@cheeseproject.co.uk">
                    info@cheeseproject.co.uk</a></li>
              </ul>
            </div>
            <div class="py-2">
              CHEESE on social media:<br>
              <ul>
                <li><a href="http://www.twitter.com/CHEESEBristol/">
                    @CHEESEBristol</a></li>
                <li><a href="https://www.facebook.com/The-C-H-E-E-S-E-Project-Bristol-1816371931706302/">
                    Facebook page</a></li>
              </ul>
            </div>
            <div class="py-2"><a href="/privacy-notice">Privacy notice</a></div>
            <div class="py-2"><a href="mailto:info@cheeseproject.co.uk">Report a problem with this website</a></div>
            <div class="py-2">
              {% if not current_user.is_authenticated %}
                <a href="/user/sign-in">Login</a>
              {% endif %}
            </div>
          </div>
          <div class="col-md-4">
            Our partner organisations:<br>
            <ul>
              <li><a href="http://www.bristolenergynetwork.org">
                  Bristol Energy Network</a></li>
              <li><a href="https://www.cse.org.uk">
                  Centre for Sustainable Energy</a></li>
              <li><a href="http://www.ambitionlw.org">
                  Ambition Lawrence Weston</a></li>
              <li><a href="http://www.bedminsterenergy.org.uk">
                  Bedminster Energy Group</a></li>
              <li><a href="http://www.eastonenergygroup.org">
                  Easton Energy Group</a></li>
              <li><a href="https://www.facebook.com/BCR.EnergyGroup">
                  Bishopston, Cotham, Redland Energy Group</a></li>
              <li><a href="https://transitionmalvernhills.org.uk">
                  Transition Malvern Hills</a></li>
              <li><a href="https://sites.google.com/site/reworkltd/">
                  Re:work</a></li>
              <li><a href="http://www.suswot.org.uk">
                  Sustainable Westbury On Trym</a></li>
            </ul>
          </div>
        </div>
        <hr>
        <div div class="pt-1">
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Creative Commons License" style="border-width:0"
                 src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
          </a>All content, unless otherwise stated, is licensed under a
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            Creative Commons Attribution-ShareAlike 4.0 International License</a>.
        </div>
      </div>
    </footer>
    <script src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap-datepicker.js')}}"></script>
    <script src="{{url_for('static', filename='js/lightbox.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/chosen.jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-75834181-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- Twitter share button -->
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- FB share button -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
