{% extends "base.html" %}
{% block content %}

{% import 'macros.html' as macros %}

<h1>Collected thermal images</h1>

<p>This page displays thermal images that highlight problems or solutions. It
is part of an effort to document the experience of the CHEESE Project.</p>

<p>
<a href="/upload-thermal-image">
  <button type="button" class="btn btn-primary btn-md">
    Add a new thermal image
  </button>
</a>
</p>

<p>
<strong>Browse by keyword</strong>:
{% for x in keywords %}
  <a href="?keyword={{x}}">
    <button type="button" class="btn btn-default btn-sm">{{x}}</button>
  </a>
{% endfor %}
</p>

{% if keyword %}
  <p>Showing {{images|length}} images with the keyword '{{keyword}}'
  (<a href="?keyword=">view all</a>)</p>
{% else %}
  <p>There are currently {{images|length}} in the collection.</p>
{% endif %}

<table class="table table-striped">
<thead>
  <tr>
    <th></th>
    <th>Submitted by</th>
    <th>Keywords</th>
    <th>Description</th>
  </tr>
</thead>
{% for image in images %}
  <tr>
    <td>
      {{ macros.thumbnail('uploads/'+image.filename, '200x200', 'thermal-image') }}
    </td>
    <td>
      {% if image.user %}
        {% if image.user.first_name!='' and image.user.last_name!='' %}
          {{ image.user.first_name }} {{ image.user.last_name }}
        {% else %}
          {{ image.user.email }}
        {% endif %}
      {% else %}
        {{ image.submitted_by }}
      {% endif %}<br>
      on {{ image.date.strftime('%d-%m-%Y') }}
    </td>
    <td>{{ image.keywords }}</td>
    <td>
      <p>
        {{ image.building_type }}
        {% if image.year_of_construction %}
          ({{ image.year_of_construction }})
        {% endif %}
      </p>
      <p>{{ image.description }}</p>
      <div class="pull-right" style="padding:0.2em">
        {{ macros.edit_button('thermalimage', image.id, edit_permission) }}
        {{ macros.details_button('thermalimage', image.id) }}
      </div>
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}
