{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <div class="big-text">
    Save money and improve the comfort
    of your home with a CHEESE survey
  </div>
  <p>CHEESE thermal-imaging home surveys identify where your home
  is losing heat and we will suggest remedies to reduce your energy use and
  bills. If you are on a low income you can have a more comfortable, healthier,
  home without higher bills. Read more about
  <a href="/home-surveys">how a survey works</a>, and if you live in Bristol
  <a href="/apply-for-a-survey">apply for a survey now</a>.
  <div class="banner-imgs">
    <div style="display:inline-block">
    <a data-lightbox="splash" href="static/images/thermal6.jpg"
       data-title="Draught between floorboards">
      <img src="{{'static/images/thermal6.jpg'|thumbnail('110x171')}}">
    </a>
    <div class="imgcaption">Draught between floorboards</div>
    </div>
    <div style="display:inline-block;">
    <a data-lightbox="splash" href="static/images/thermal7.jpg"
       data-title="Missing cavity wall insulation">
      <img src="{{'static/images/thermal7.jpg'|thumbnail('110x171')}}">
    </a>
    <div class="imgcaption">Missing cavity wall insulation</div>
    </div>
    <div style="display:inline-block;">
    <a data-lightbox="splash" href="static/images/thermal8.jpg"
       data-title="Cold bathroom vent">
      <img src="{{'static/images/thermal8.jpg'|thumbnail('110x171')}}">
    </a>
    <div class="imgcaption">Cold bathroom vent</div>
    </div>
    <div style="display:inline-block;">
    <a data-lightbox="splash" href="static/images/thermal9.jpg"
       data-title="Cold loft entrance">
      <img src="{{'static/images/thermal9.jpg'|thumbnail('110x171')}}">
    </a>
    <div class="imgcaption">Cold loft entrance</div>
    </div>
    <div style="display:inline-block;">
    <a data-lightbox="splash" href="static/images/thermal10.jpg"
       data-title="Poorly fitted window">
      <img src="{{'static/images/thermal10.jpg'|thumbnail('110x171')}}">
    </a>
    <div class="imgcaption">Poorly fitted window</div>
    </div>
  </div>
  <div class="caption">
      These are some common faults shown up by CHEESE thermal image
      surveys,<br>where red and white is hottest and blue and black coldest.
      <div style="text-align:center; padding-top:0.4em">
        Cold <img src="static/images/rainbow.jpg"> Hot
      </div>
  </div>
</div>

<div class="pull-right">
<a class="twitter-timeline" data-width="300" data-height="450" data-theme="light"
   href="https://twitter.com/CHEESEBristol">
  Tweets by @CHEESEBristol</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<div class="blog-list">
<h2>The CHEESE blog</h2>
{% for item in articles %}
  <div class="article-short">
    <h3>{{item.title}}</h3>
    <p class="article-date">{{item.date_str}}</p>
    {% set body = item.html|safe|striptags %}
    {% if body|length > 500 %}
      {{body|truncate(500)}}
      <p><a href="/blog/{{item.path}}">Read more &#187;</a></p>
    {% else %}
      {{item.html|safe}}
    {% endif %}
  </div>
{% endfor %}
</div>

{% endblock %}
