{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% block jumbo %}
<div class="jumbotron">
  <div class="big-text">
     Award winning thermal imaging surveys for Bristol homes<br>
     Get all the detail, save money, save carbon, keep warm
  </div>
  <div class="container">
  <p class="lead" style="font-weight:normal">
  The Cold Homes Energy Efficiency Survey Experts (C.H.E.E.S.E.) Project is a
  Bristol-based not-for-profit CIC that aims to reduce domestic energy losses,
  at low cost: surveys start at just &pound;100 and are <strong>free</strong> to
  those on low incomes. Our unique thermal-imaging surveys identify where your
  home is losing heat and we will suggest remedies. This saves you money,
  improves your comfort and wellbeing, and reduces your contribution to climate
  change. Read more about
  <a href="/home-surveys">how a survey works</a> or
  <a href="/apply-for-a-survey">apply for a survey now</a>.
  </p>
  <div class="banner-imgs">
    <div style="display:inline-block">
    <a data-lightbox="splash" href="{{url_for('.assets', filename='images/thermal6.jpg')}}"
       data-title="Draught between floorboards">
      <img src="{{'images/thermal6.jpg'|thumbnail('200x200')}}" class="rounded">
    </a>
    <div class="imgcaption">Draught between floorboards</div>
    </div>
    <div style="display:inline-block;">
    <a data-lightbox="splash" href="{{url_for('.assets', filename='images/thermal7.jpg')}}"
       data-title="Missing cavity wall insulation">
      <img src="{{'images/thermal7.jpg'|thumbnail('200x200')}}" class="rounded">
    </a>
    <div class="imgcaption">Missing cavity wall insulation</div>
    </div>
    <div style="display:inline-block;">
    <a data-lightbox="splash" href="{{url_for('.assets', filename='images/thermal8.jpg')}}"
       data-title="Cold bathroom vent">
      <img src="{{'images/thermal8.jpg'|thumbnail('200x200')}}" class="rounded">
    </a>
    <div class="imgcaption">Cold bathroom vent</div>
    </div>
    <div style="display:inline-block;">
    <a data-lightbox="splash" href="{{url_for('.assets', filename='images/thermal9.jpg')}}"
       data-title="Cold loft entrance">
      <img src="{{'images/thermal9.jpg'|thumbnail('200x200')}}" class="rounded">
    </a>
    <div class="imgcaption">Cold loft entrance</div>
    </div>
    <div style="display:inline-block;">
    <a data-lightbox="splash" href="{{url_for('.assets', filename='images/thermal10.jpg')}}"
       data-title="Poorly fitted window">
      <img src="{{'images/thermal10.jpg'|thumbnail('200x200')}}" class="rounded">
    </a>
    <div class="imgcaption">Poorly fitted window</div>
    </div>
  </div>
  <div class="caption">
      These are some common faults shown up by CHEESE thermal image
      surveys,<br>where red and white is hottest and blue and black coldest.
      <div style="text-align:center; padding-top:0.4em">
        Cold <img src="{{url_for('.assets', filename='images/rainbow.jpg')}}"> Hot
      </div>
  </div>
  <p><a class="btn btn-primary btn-md float-right" href="/apply-for-a-survey" role="button">
    Apply for a survey &raquo;</a></p>
  </div>
</div>
<!--ET recruitment
<div>
<div class="container text-center">
<img src="{{url_for('.assets', filename='images/ETlogo.png')}}">
<div class="lead">
  We are recruiting surveyors for our upcoming winter surveying season...
</div>
<br>
<p>We are looking for enthusiastic people, motivated to contribute
positively to combatting climate change and fuel poverty. We have roles open
for
<a href="news/2019-08-22-ET-job-vacancy">part-time paid Energy Tracer surveyors</a> and
<a href="news/2019-08-22-volunteer-assistant-surveyor-job-vacancy">volunteer assistant surveyors</a>,
both with free training. Please see the linked job adverts for more details on
the roles and responsibilities, and how to apply. Deadline for applications is
the 18th September!</p>
</div>
</div>
<hr>
-->
<!--CEE award
<div>
<div class="container text-center">
<div class="lead">
We are delighted to announce that we won an important national award from Community Energy England/Wales for
<i>the most inspiring energy conservation and/or management project</i>.
</div>
<br>
<img src="{{'images/2018-10-community-energy-awards/CEA-1.png'|thumbnail('220x220')}}">
<img src="{{'images/2018-10-community-energy-awards/CEA-3.jpg'|thumbnail('220x220')}}">
<p class="text-right"><a href="/news/2018-10-community-energy-awards">Read more about our award...</a></p>
</div>
</div>
<hr>-->
<div class="container text-center">
<div class="lead">
2018/19 customer testimonials
</div>
<br>
<div class="row">
    <div class="col-sm">
      <p><i>I would highly recommend having a survey done by The CHEESE Project. It
      is so interesting and incredibly useful if you want to locate all those hidden
      draughts, warm up your home and reduce your heating costs. The surveyor was
      very friendly and patiently spent hours identifying all the heat loss spots in
      our house, and even provided us with a video of the survey, plus a list of easy
      remedies for us to carry out. 10/10 from me!</i></p>
    </div>
    <div class="col-sm">
      <p><i>Thanks for a great service. Its an amazing eye-opener. I’m supposed to
      know about this stuff but you have pointed out lots of improvements I can
      make.</i></p>
    </div>
    <div class="col-sm">
      <p><i>"Found all useful. Identified exactly where we could make improvements.
      Also surveyors enthusiasm was infectious. Nice to not heat the outside of the
      property & hopefully save money on fuel usage. Peace of mind that mum(93) is as
      warm as she can be."</i></p>
    </div>
  </div>
<p class="text-right"><a href="/testimonials">Read more customer testimonials...</a></p>
</div>
<hr>
{% endblock %}
{% block content %}
<div class="float-right">
  <a class="twitter-timeline" data-width="300" data-height="750" data-theme="light"
     href="https://twitter.com/CHEESEBristol">
    Tweets by @CHEESEBristol</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<h2>Latest news</h2>
<div class="article-list">
{% for article in articles %}
  {% if not ('status' in article.meta and article.meta['status'] == 'draft') %}
    {{ macros.article_short_no_tags(article) }}
  {% endif %}
{% endfor %}
</div>

<h2>Thanks to our funders</h2>
<div class="text-center">
<a href="http://quartetcf.org.uk/grant-programmes/megawatt-community-energy-large-and-small-grants/">
  <img width="160px" src="{{url_for('.assets', filename='images/quartet-logo.png')}}"></a>
<a href="http://www.bristolenergy.coop">
  <img width="160px" src="{{url_for('.assets', filename='images/BEC-logo.jpg')}}"></a>
<a href="https://www.thefundingnetwork.org.uk/events/tfn-bristol/1310">
  <img width="160px" src="{{url_for('.assets', filename='images/TFN-logo.png')}}"></a>
<a href="http://www.naturesave.co.uk/the-naturesave-trust/">
  <img width="160px" src="{{url_for('.assets', filename='images/naturesave-logo.jpg')}}"></a>
<a href="https://www.bristolcommunityenergy.co.uk/">
  <img width="160px" src="{{url_for('.assets', filename='images/BCEF-logo.png')}}"></a>
</div>

<a href="/management-and-funding#funding">More details of our management and
  funding &raquo;</a>

{% endblock %}
