<strong>Please note</strong>: the expertise of the C.H.E.E.S.E. Project CIC is
in discovering how energy moves around your home through the interpretation of
thermal images, and using that information to identify thermal faults in the
fabric of the building. During your survey we will discuss potential ways in
which problems can be remedied, but we cannot offer this as professional
advice. You must always consult an expert to determine the best way forward. By
submitting this form you agree to these contractual limitations.
