{% macro render_form_description(d) -%}
  {% if d %}
    <p class="text-muted">{{ d | safe }}</p>
  {% endif %}
{%- endmacro %}

{% macro render_form_errors(f) -%}
  {% for e in f.errors %}
    <div class="invalid-feedback">{{ e }}</div>
  {% endfor %}
{%- endmacro %}

{% macro render_form_field(f) -%}
  <div class="form-group">
    {% if f.type == "FileField" %}
      {{ render_form_description(f.description) }}
      {{ f.label }}
      {{ f(class_="form-control-file") }}
      {{ render_form_errors(f) }}
    {% elif f.name.endswith('_1to5') %}
      {{ f.label(class_="control-label") }}
      {{ render_form_description(f.description) }}
      <div class="rating-1to5 form-inline">
        {% if f.errors %}
          {{ f(class_="form-check-input is-invalid") }}
        {% else %}
          {{ f(class_="form-check-input") }}
        {% endif %}
        {{ render_form_errors(f) }}
      </div>
    {% elif f.type == "BooleanField" %}
      <div class="form-check">
        {% if f.errors %}
          {{ f(class_="form-check-input is-invalid") }}
        {% else %}
          {{ f(class_="form-check-input") }}
        {% endif %}
        {{ f.label(class_="form-check-label") }}
        {{ render_form_description(f.description) }}
        {{ render_form_errors(f) }}
      </div>
    {% else %}
      {{ f.label(class_="control-label") }}
      {{ render_form_description(f.description) }}
      {% if f.errors %}
        {{ f(class_="form-control is-invalid") }}
      {% else %}
        {{ f(class_="form-control") }}
      {% endif %}
      {{ render_form_errors(f) }}
    {% endif %}
  </div>
{%- endmacro %}

{% macro form_section(name) -%}
  <div class="card mb-3">
  <div class="card-header">{{name}}</div>
  <div class="card-body">
{%- endmacro %}

{% macro end_form_section() -%}
  </div>
  </div>
{%- endmacro %}

{% macro render_form(form, name, submit_description=None) -%}
<div id="{{name}}" style="padding-top:1.2em">
  <form method="POST" action="" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% for f in form if f.type != 'CSRFTokenField' %}
      {{ render_form_field(f) }}
    {% endfor %}
    <label></label>
    {% if submit_description %}<p>{{submit_description}}</p>{% endif %}
    <button class="btn" type="submit">Submit</button>
  </form>
</div>
{%- endmacro %}

{% macro gallery(directory) -%}
  <div class="thumbs">
    {% for image in image_list(directory) %}
      <a data-lightbox="{{directory}}" href="{{url_for('.assets', filename=image)}}">
        <img src="{{image|thumbnail(config['THUMB_SIZE'])}}" class="img-thumbnail">
      </a>
    {% endfor %}
  </div>
{%- endmacro %}

{% macro thumbnail(image, size, group) -%}
  <a data-lightbox="{{group}}" href="{{url_for('.assets', filename=image)}}">
    <img class="img-fluid rounded" src="{{image|thumbnail(size)}}">
  </a>
{%- endmacro %}

{% macro fig_thumbnail(image, size, group) -%}
  <a data-lightbox="{{group}}" href="{{url_for('.assets', filename=image)}}">
    <img class="figure-img img-fluid rounded" src="{{image|thumbnail(size)}}">
  </a>
{%- endmacro %}

{% macro article_short(article) %}
  <div class="article-short clearfix">
    <a href="/news/{{article.path}}"><h3>{{article.title}}</h3></a>
    {% if 'image' in article.meta %}
      <div class="float-right">
        {{ thumbnail(article.meta['image'], '180x180', article.title) }}
      </div>
    {% endif %}
    <p class="article-date">
      {% if 'author' in article.meta %}
        {{ article.meta.author }},
      {% endif %}
      {{article.date_str}}
    </p>
    {% set body = article.html|safe|striptags %}
    {% if body|length > 600 %}
      <p>{{body|truncate(600)|safe|striptags}}
        <a href="/news/{{article.path}}">read more &#187;</a></p>
    {% else %}
      <p>{{article.html|safe|striptags}}</p>
    {% endif %}
    {% if 'gallery' in article.meta %}
      {{ gallery(article.meta['gallery']) }}
    {% endif %}
  </div>
{%- endmacro %}

{% macro article_short_no_tags(article) %}
  <div class="article-short">
    <a href="/news/{{article.path}}"><h3>{{article.title}}</h3></a>
    {% if 'image' in article.meta %}
      <div class="float-right">
        {{ thumbnail(article.meta['image'], '160x160', article.title) }}
      </div>
    {% endif %}
    <p class="article-date">
      {% if 'author' in article.meta %}
        {{ article.meta.author }},
      {% endif %}
      {{article.date_str}}
    </p>
    {% set body = article.html|safe|striptags %}
    {% if body|length > 500 %}
      <p>{{body|truncate(500)|striptags|safe}}
        <a href="/news/{{article.path}}">read more &#187;</a></p>
    {% else %}
      <p>{{article.html|striptags|safe}}</p>
    {% endif %}
  </div>
{%- endmacro %}
