{% macro render_form_field_base(f) -%}
  <div class="form-group">
    {{ f.label(class_="control-label") }}
    {% if f.description %}
      <p class="help-block">{{ f.description | safe }}</p>
    {% endif %}
    {% if f.type == "FileField" or f.name.endswith('_1to5') %}
      {{ f }}
    {% else %}
      {{ f(class_="form-control") }}
    {% endif %}
  </div>
{%- endmacro %}

{% macro render_form_field(f) -%}
  {% if f.errors %}
    <div class="form-group has-error">
      {{ render_form_field_base(f) }}
      {% for e in f.errors %}
        <span class="help-block">{{ e }}</span>
      {% endfor %}
    </div>
  {% else %}
    {{ render_form_field_base(f) }}
  {% endif %}
{%- endmacro %}

{% macro form_section(name) -%}
  <div class="panel panel-default">
  <div class="panel-heading">{{name}}</div>
  <div class="panel-body">
{%- endmacro %}

{% macro end_form_section() -%}
  </div>
  </div>
{%- endmacro %}

{% macro render_form(form, name, submit_description=None) -%}
<div id="{{name}}" style="padding-top:1.2em">
  <form method="POST" action="" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {% for f in form if f.type != 'CSRFTokenField' %}
      {{ render_form_field(f) }}
    {% endfor %}
    <label></label>
    {% if submit_description %}<p>{{submit_description}}</p>{% endif %}
    <button class="btn" type="submit">Submit</button>
  </form>
</div>
{%- endmacro %}

{% macro gallery(directory) -%}
  <div class="thumbs">
    {% for image in image_list(directory) %}
      <a data-lightbox="{{directory}}" href="{{image}}">
        <img src="{{image|thumbnail(config['THUMB_SIZE'])}}" class="img-thumbnail">
      </a>
    {% endfor %}
  </div>
{%- endmacro %}

{% macro article_short(article) %}
  <div class="article-short">
    <a href="/news/{{article.path}}"><h3>{{article.title}}</h3></a>
    <p class="article-date">{{article.date_str}}</p>
    {% set body = article.html|safe|striptags %}
    {% if body|length > 500 %}
      <p>{{body|truncate(500)|safe}}
        <a href="/news/{{article.path}}">read more &#187;</a></p>
    {% else %}
      <p>{{article.html|safe}}</p>
    {% endif %}
  </div>
{%- endmacro %}

{% macro article_short_no_tags(article) %}
  <div class="article-short">
    <a href="/news/{{article.path}}"><h3>{{article.title}}</h3></a>
    <p class="article-date">{{article.date_str}}</p>
    {% set body = article.html|safe|striptags %}
    {% if body|length > 500 %}
      <p>{{body|truncate(500)|striptags|safe}}
        <a href="/news/{{article.path}}">read more &#187;</a></p>
    {% else %}
      <p>{{article.html|striptags|safe}}</p>
    {% endif %}
  </div>
{%- endmacro %}
