{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% block content %}

<h1>One-year feedback</h1>

<p>As part of the CHEESE survey process, we check in with householders one
month and one year after the survey. After one year we would we would like to
find out how you have got on and what effect the changes have had. This data is
important for us to demonstrate the effectivness of what we do.</p>

<p>Please complete the form below to provide us with your one-year feedback.</p>

<div id="one-year-feedback" style="padding-top:1.2em">
  <form method="POST" action="" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ macros.render_form_field(form.householders_name) }}
    {{ macros.render_form_field(form.address) }}
    {{ macros.form_section('Details of your remedial work and its results') }}
    {{ macros.render_form_field(form.diy_work) }}
    {{ macros.render_form_field(form.prof_work) }}
    {{ macros.render_form_field(form.contractors_used) }}
    {{ macros.render_form_field(form.total_spent) }}
    {{ macros.render_form_field(form.total_spent_diy) }}
    {{ macros.render_form_field(form.total_spent_local) }}
    {{ macros.render_form_field(form.planned_work) }}
    {{ macros.render_form_field(form.wellbeing_improvement) }}
    {{ macros.render_form_field(form.behaviour_changes) }}
    {{ macros.end_form_section() }}
    {{ macros.form_section('Your electricity use') }}
    <p>Please provide details of your total annual electricity use for a year
    period after your survey in the fields below. For help with calculating the
    value, please see <a href="/cheese-box#recording-energy-use">our guide</a>. It
    is important that we have accurate energy figures, not ones that extrapolate
    from previous use. If however you only have estimated ones, tick the box
    below.</p>
    {{ macros.render_form_field(form.annual_elec_kwh) }}
    {{ macros.render_form_field(form.annual_elec_estimated) }}
    {{ macros.render_form_field(form.annual_elec_start_date) }}
    {{ macros.render_form_field(form.annual_elec_end_date) }}
    {{ macros.end_form_section() }}
    {{ macros.form_section('Your gas use') }}
    <p>Please provide details of your total annual gas use for a year
    period after your survey in the fields below. For help with calculating the
    value, please see <a href="/cheese-box#recording-energy-use">our guide</a>. It
    is important that we have accurate energy figures, not ones that extrapolate
    from previous use. If however you only have estimated ones, tick the box
    below.</p>
    {{ macros.render_form_field(form.annual_gas_kwh) }}
    {{ macros.render_form_field(form.annual_gas_estimated) }}
    {{ macros.render_form_field(form.annual_gas_start_date) }}
    {{ macros.render_form_field(form.annual_gas_end_date) }}
    {{ macros.end_form_section() }}
    {{ macros.form_section('Other energy use') }}
    {{ macros.render_form_field(form.annual_solid_spend) }}
    {{ macros.render_form_field(form.renewable_contrib_kwh) }}
    {{ macros.end_form_section() }}
    {{ macros.form_section('Feedback to us') }}
    {{ macros.render_form_field(form.feedback) }}
    </div>
    </div>
    <label></label>
    <p><strong>Please note:</strong> {% include 'privacy-statement.html' %}
    By submitting this form you agree to these terms and to us retaining your
    contact details.</p>
    <button class="btn" type="submit">Submit</button>
  </form>
</div>

{% endblock %}
