{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% block content %}

<h1>One-month feedback</h1>

<p>As part of the CHEESE survey process, we check in with householders one
month and one year after the survey. After one month, we would like to know
what you are thinking of doing to do reduce your energy consumption, as well as
your previous energy usage and any feedback your have. This data is important
for us to demonstrate the effectivness of what we do.</p>

<p>Please complete the form below to provide us with your one-month feedback.</p>

<div id="one-month-feedback" style="padding-top:1.2em">
  <form method="POST" action="" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ macros.render_form_field(form.householders_name) }}
    {{ macros.render_form_field(form.address) }}

    {{ macros.form_section('Remedial work') }}
    {{ macros.render_form_field(form.any_completed_actions) }}
    {{ macros.render_form_field(form.completed_actions) }}
    {{ macros.render_form_field(form.any_planned_work) }}
    {{ macros.render_form_field(form.planned_actions) }}
    {{ macros.end_form_section() }}

    {{ macros.form_section('Your wellbeing') }}
    {{ macros.render_form_field(form.any_wellbeing_improvement) }}
    {{ macros.render_form_field(form.wellbeing_improvement) }}
    {{ macros.end_form_section() }}

    {{ macros.form_section('Changes in behaviour') }}
    {{ macros.render_form_field(form.any_behaviour_change) }}
    {{ macros.render_form_field(form.behaviour_temperature) }}
    {{ macros.render_form_field(form.behaviour_space) }}
    {{ macros.render_form_field(form.behaviour_changes) }}
    {{ macros.end_form_section() }}

    {{ macros.form_section('Your electricity use') }}
    <p>Please provide details of your total annual electricity use for the year
    period before your survey in the fields below. For help with calculating the
    value, please see <a href="/cheese-box#recording-energy-use">our guide</a>. It
    is important that we have accurate energy figures, not ones that extrapolate
    from previous use. If however you only have estimated ones, tick the box
    below.</p>
    {{ macros.render_form_field(form.annual_elec_kwh) }}
    {{ macros.render_form_field(form.annual_elec_estimated) }}
    {{ macros.render_form_field(form.annual_elec_start_date) }}
    {{ macros.render_form_field(form.annual_elec_end_date) }}
    {{ macros.end_form_section() }}

    {{ macros.form_section('Your gas use') }}
    <p>Please provide details of your total annual gas use for the year
    period before your survey in the fields below. For help with calculating the
    value, please see <a href="/cheese-box#recording-energy-use">our guide</a>. It
    is important that we have accurate energy figures, not ones that extrapolate
    from previous use. If however you only have estimated ones, tick the box
    below.</p>
    {{ macros.render_form_field(form.annual_gas_kwh) }}
    {{ macros.render_form_field(form.annual_gas_estimated) }}
    {{ macros.render_form_field(form.annual_gas_start_date) }}
    {{ macros.render_form_field(form.annual_gas_end_date) }}
    {{ macros.end_form_section() }}

    {{ macros.form_section('Other energy use') }}
    {{ macros.render_form_field(form.annual_solid_spend) }}
    {{ macros.render_form_field(form.renewable_contrib_kwh) }}
    {{ macros.end_form_section() }}

    {{ macros.form_section('Feedback to us') }}
    {{ macros.render_form_field(form.satisfaction_1to5) }}
    {{ macros.render_form_field(form.survey_video_1to5) }}
    {{ macros.render_form_field(form.surveyor_conduct_1to5) }}
    {{ macros.render_form_field(form.survey_value_1to5) }}
    {{ macros.render_form_field(form.recommend_1to5) }}
    {{ macros.render_form_field(form.feedback) }}
    {{ macros.end_form_section() }}

    <label>* required fields</label>
    <p>{% include 'privacy-statement.html' %}</p>
    <p>{{ form.recaptcha }}</p>
    {% for e in form.recaptcha.errors %}<p>{{ e }}</p>{% endfor %}
    <div class="notice">
      <p>{% include 'promotion-note.html' %}</p>
    </div>
    <button class="btn" type="submit">Submit</button>
  </form>
</div>
{% endblock %}
