{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% block content %}

<h1>One-month feedback</h1>

<p>As part of the CHEESE survey process, we check in with householders one
month and one year after the survey. After one month, we would like to know
what you are thinking of doing to do reduce your energy consumption, as well as
your previous energy usage and any feedback your have. This data is important
for us to demonstrate the effectivness of what we do.</p>

<p>Please complete the form below to provide us with your one-month feedback.</p>

{{ macros.render_form(form, 'one-month-feedback',
    'Please note: your data remains confidential with The CHEESE Project, \
    however, in order for us to be able to collect data city-wide on building \
    faults and energy saving, etc. we may use anonymised details for the \
    purposes of analysis, publicity, fund-raising etc.') }}

{% endblock %}
