Your data remains confidential with The CHEESE Project and we will never share
your personal details with third parties. However, in order for us to be able
to collect data city-wide on building faults and energy saving, etc. we may use
anonymised recordings, photos, and details of the survey for the purposes of
analysis, publicity, fund-raising etc. As part of our processes of recording
survey outcomes, we may contact you by telephone or email to find out what
action has been taken after a survey, and the effects of these actions.
