<strong>Please tell your neighbours, friends and family about CHEESE
	surveys!</strong> We are not for profit, independent and community
based and we rely on satisfied customers to help us to expand our work. So, if
you were pleased with your survey and its results, then please spread the word
and help us to fight cold homes and climate change. If you would like some
paper leaflets or to find out more about helping with the project, then please
<a href="mailto:info@cheeseproject.co.uk">get in touch</a>.
