{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% block content %}

<h1>Submit pre-survey information</h1>

<p> Well done for completing your latest survey.</p>


<p>Please note:</p>
<ul>
<li><strong>This form is to be completed by ETs as an interim solution to
    resolve issues with the collection of data for surveys.</strong></li>
<li>Firstly, select the survey it relates to from the drop-down menu
  below (you can start typing in ther box to search for the name or road).</li>
<li>Use the notes field to record any other relevant information.</li>
<li>Everything you type in this form will appear in
  the customers survey information page on the database.</li>
<li>If you make any mistakes, then please resubmit this form with the correct
  information.</li>
<li>Once you have completed this form, then please complete the
  <a href="/submit-post-survey-details">post-survey details</a> form.</li>
</ul>

<div id="submit-results-form" style="padding-top:1.2em">
  <form method="POST" action="" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ macros.form_section('Survey details') }}
    {{ macros.render_form_field(form.survey) }}
    {{ macros.end_form_section() }}
    {{ macros.form_section('Details of your home') }}
    {{ macros.render_form_field(form.building_type) }}
    {{ macros.render_form_field(form.year_of_construction) }}
    {{ macros.render_form_field(form.wall_construction_type) }}
    {{ macros.render_form_field(form.occupation_type) }}
    {{ macros.render_form_field(form.primary_heating_type) }}
    {{ macros.render_form_field(form.secondary_heating_type) }}
    {{ macros.render_form_field(form.water_heating_type) }}
    {{ macros.render_form_field(form.cooking_type) }}
    {{ macros.render_form_field(form.depth_loft_insulation) }}
    {{ macros.render_form_field(form.number_open_fireplaces) }}
    {{ macros.render_form_field(form.double_glazing) }}
    {{ macros.render_form_field(form.num_occupants) }}
    {{ macros.end_form_section() }}
    {{ macros.form_section('Gas use') }}
    {{ macros.render_form_field(form.annual_gas_kwh) }}
    {{ macros.render_form_field(form.annual_gas_estimated) }}
    {{ macros.render_form_field(form.annual_gas_start_date) }}
    {{ macros.render_form_field(form.annual_gas_end_date) }}
    {{ macros.end_form_section() }}
    {{ macros.form_section('Electricity use') }}
    {{ macros.render_form_field(form.annual_elec_kwh) }}
    {{ macros.render_form_field(form.annual_elec_estimated) }}
    {{ macros.render_form_field(form.annual_elec_start_date) }}
    {{ macros.render_form_field(form.annual_elec_end_date) }}
    {{ macros.end_form_section() }}
    {{ macros.form_section('Other energy use') }}
    {{ macros.render_form_field(form.annual_solid_spend) }}
    {{ macros.render_form_field(form.renewable_contribution_kwh) }}
    {{ macros.end_form_section() }}
    {{ macros.render_form_field(form.notes) }}
    <label></label>
    <p>{% include 'privacy-statement.html' %}</p>
    <p>{{ form.recaptcha }}</p>
    <button class="btn" type="submit">Submit</button>
  </form>
</div>

{% endblock %}
