{% extends "base.html" %}
{% block title %}
Energy Tracer surveys - {{config.PAGE_TITLE}}
{% endblock %}
{% block content %}

{% macro render_row(result, type) -%}
  <tr>
    <td>{{type}}</td>
    {% if result.survey %}
      <td>{{result.survey.phase}}</td>
    {% else %}
      <td>No linked survey</td>
    {% endif %}
    {% if result.survey_date %}
      <td>{{result.survey_date.strftime('%d/%m/%Y')}}</td>
    {% else %}
      <td>No date</td>
    {% endif %}
    <td>{{result.householders_name}}</td>
    <td>{{result.address_line}}</td>
    <td><a href="{{url_for('results.details_view', id=result.id, url=request.path+'?'+request.query_string)}}">Result record</a></td>
  </tr>
{%- endmacro %}

{% macro render_results(lead_results, assist_results, type) -%}
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">Role</th>
      <th scope="col">Phase</th>
      <th scope="col">Survey date</th>
      <th scope="col">Householder</th>
      <th scope="col">Address</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for result in lead_results|sort(attribute='id') %}
    {{render_row(result, 'Lead')}}
  {% endfor %}
  {% for result in assist_results|sort(attribute='id') %}
    {{render_row(result, 'Assist')}}
  {% endfor %}
  </tbody>
</table>
{%- endmacro %}

{% for key in surveyor_map.keys()|sort %}
  <h2>{{surveyor_map[key].name|safe}}</h2>
  <p>({{surveyor_map[key].lead|length}} leads,
      {{surveyor_map[key].assist|length}} assists)</p>
  {{render_results(surveyor_map[key].lead, surveyor_map[key].assist)}}
{% endfor %}

<h2>Incomplete results</h2>
<p>These results have missing lead or assistant fields</p>
{{render_results(incomplete_lead_results,
                 incomplete_assist_results)}}

{% endblock %}

