{% import 'macros.html' as macros %}
{% extends "base.html" %}
{% block title %}
Upload a thermal image - {{config.PAGE_TITLE}}
{% endblock %}
{% block content %}

<h1>Upload a thermal image</h1>

<p>As part of the CHEESE project, we want to record thermal images that:
<ul>
  <li>clearly display a building construction fault;</li>
  <li>clearly display a the effect of insulation or draughtproofing;</li>
  <li>or show anything else of interest or out of the ordinary.</li>
</ul>
From our combined survey experience, we hope to build a collection of common
faults and remedies, that can be used as a reference by housholders after a
survey, and indeed to anyone else. The
<a href="/collected-thermal-images">thermal images page</a> displays the images
we have collected so far.</p>

<p>Please use this page to upload images, providing with each one a short
description of what the image illustrates and your name. <strong>Do not upload
any images that identify a specific person or place.</strong></p>

<div id="upload-thermal-image" style="padding-top:1.2em">
  <form method="POST" action="" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ macros.render_form_field(form.image_file) }}
    {{ macros.render_form_field(form.description) }}
    {{ macros.render_form_field(form.building_type) }}
    {{ macros.render_form_field(form.year_of_construction) }}
    {{ macros.render_form_field(form.keywords) }}
    <label></label>
    <button class="btn" type="submit">Submit</button>
  </form>
</div>

{% endblock %}
