<p>Dear {{name}},</p>

<p>Thank you for submitting your membership application.</p>

<p>Your application will be considered at the next director's management
meeting, after which we will be in touch to confirm your membership.</p>

<p>In the mean time, please get in touch if you have any
questions.</p>

<p>Best wishes,<br>
The C.H.E.E.S.E. Project team</p>

<p><a href="http://cheeseproject.co.uk">www.cheeseproject.co.uk</a><br>
<a href="mailto:info@cheeseproject.co.uk">info@cheeseproject.co.uk</a></p>
