<p>Dear {{name}},</p>

<p>Thank you for your interest in The C.H.E.E.S.E Project and taking the time to
apply for a survey.</p>

<p>We closed our survey season early in March due to COVID-19 pandemic. Given
the nature of the surveys, which require closing all windows/doors and spending
at least two hours at close proximity with the householder, we unfortunately are
not able to start arranging surveys for this season at this time.</p>

<p>The health and wellbeing of our customers and staff is our highest priority. We
will continue to monitor the situation carefully and will be back in touch as
soon as we have an update.</p>

<p>Thank you for your patience and understanding.</p>

<p>In the mean time, please get in touch if you have any
questions.</p>

<p>Best wishes,<br>
The C.H.E.E.S.E. Project team</p>

<p><a href="http://cheeseproject.co.uk">www.cheeseproject.co.uk</a><br>
<a href="mailto:surveys@cheeseproject.co.uk">surveys@cheeseproject.co.uk</a></p>
