html {
  color:#222;
  font-size:0.95em;
  line-height:1.4;
  font-family: 'Droid Sans',sans-serif;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

.container {
  width: 750px;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#888;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
  text-decoration: none;
}

.lead {
  font-size:1.15em;
  font-weight:bold;
}

.banner {
  text-align: center;
  padding: 4px 4px;
}

.banner > * {
  vertical-align:top;
}

.banner img {
  width:136px;
  padding: 0 4px 0 4px;
}

.news li {
  margin:0.7em 0;
}

.caption {
  margin-top:-0.4em;
  font-size:0.8em;
}

.imgcaption {
  margin-top:-0.4em;
  font-size:0.75em;
  width: 136px;
}

.video {
  text-align:center;
}

.footer {
  color:gray;
  width:100%;
}

.footer ul {
  padding:0;
  margin:0;
}

.footer li {
  list-style-type:none;
}

.footer-left {
  width:350px;
}

.footer-right {
  float:right;
  text-align:right;
  margin:0;
  padding:0;
}
