{% extends 'admin/master.html' %}
{% import 'admin/macros.html' as macros %}
{% block body %}
{{ super() }}
<div class="pull-right">
  <p>
    {{surveys|length}} surveys<br/>
    <a href="{{url_for('admin.export', filename=export_filename)}}?{{request.query_string}}">
      <button type="button" class="btn btn-default btn-xs">
        Export as CSV
      </button>
    </a>
  </p>
</div>
<p>
<strong>Phases:</strong>
{% for phase in phases %}
  {% if phase == active_phase %}
    <a href="{{remove_from_query(phase=phase)}}">
      <button type="button" class="btn btn-primary btn-xs">
        Phase {{phase|format_db_name}}
      </button>
    </a>
  {% else %}
    <a href="{{modify_query(phase=phase)}}">
      <button type="button" class="btn btn-default btn-xs">
        Phase {{phase|format_db_name}}
      </button>
    </a>
  {% endif %}
{% endfor %}
</p>
<p>
<strong>Filters:</strong>
{% for filter in filters %}
  {% if filter in active_filters %}
    <a href="{{remove_from_query(filter=filter)}}">
      <button type="button" class="btn btn-primary btn-xs">
        {{filter|format_db_name}}
      </button>
    </a>
  {% else %}
    <a href="{{add_to_query(filter=filter)}}">
      <button type="button" class="btn btn-default btn-xs">
        {{filter|format_db_name}}
      </button>
    </a>
  {% endif %}
{% endfor %}
</p>
<table class="table table-condensed survey-overview-table">
  <thead>
    <tr>
      <th class="survey-overview-col1">
          <a href="{{modify_query(sort='survey',         reverse=reverse)}}">Survey</a></th>
      <th><a href="{{modify_query(sort='ward',           reverse=reverse)}}">Ward</a></th>
      <th><a href="{{modify_query(sort='request_date',   reverse=reverse)}}">Request date</a></th>
      <th><a href="{{modify_query(sort='survey_date',    reverse=reverse)}}">Survey date</a></th>
      <th><a href="{{modify_query(sort='surveyors_name', reverse=reverse)}}">Surveyor</a></th>
      <th><a href="{{modify_query(sort='box_number',     reverse=reverse)}}">Box number</a></th>
      <th><a href="{{modify_query(sort='box_collected',  reverse=reverse)}}">Box collected?</a></th>
      <th><a href="{{modify_query(sort='got_result',     reverse=reverse)}}">Result</a></th>
      <th><a href="{{modify_query(sort='got_month',      reverse=reverse)}}">One month</a></th>
      <th><a href="{{modify_query(sort='got_year',       reverse=reverse)}}">One year</a></th>
    </tr>
  </thead>
  <tbody>
    {% macro cell_bg(predicate) -%}
      {% if predicate %}
        class="green-bg"
      {% else %}
        class="red-bg"
      {% endif %}
    {%- endmacro %}
    {% for survey in surveys %}
    <tr>
      <td class="survey-overview-col1">
        <a href="/admin/survey/{{survey.id}}">
          {{survey.name}}, {{survey.address_line}}</a>
      </td>
      <td>{{survey.ward}}</td>
      <td>
        {% if survey.survey_request_date %}
          {{survey.survey_request_date.strftime('%d %b %Y')}}
        {% endif %}
      </td>
      <td>{% if survey.survey_date %}{{survey.survey_date.strftime('%d %b %Y')}}{% endif %}</td>
      {% if survey.result %}
        <td>
          {% if survey.result and survey.result[0].surveyors_name %}
            {{survey.result[0].surveyors_name}}
          {% endif %}
        </td>
        <td>
          {% if survey.result and survey.result[0].cheese_box_number %}
            {{survey.result[0].cheese_box_number}}
          {% endif %}
        </td>
        <td {{cell_bg(survey.box_collected)}}>
          {{ macros.render_boolean(survey.box_collected) }}
        </td>
        <td {{cell_bg(survey.result)}}>{{ macros.render_boolean(survey.result) }}</td>
        <!--Month feedback-->
        {% if survey.month_feedback %}
          <td class="green-bg">{{ macros.render_boolean(survey.month_feedback) }}</td>
        {% elif survey.survey_date %}
          {% set due_date = get_one_month_date(survey.survey_date) %}
          <td {% if due_date <= get_date_now() %}class="red-bg"{% endif %}>
            Due {{ due_date.strftime('%d %b %Y') }}</td>
        {% else %}
          <td></td>
        {% endif %}
        <!--Year feedback-->
        {% if survey.year_feedback %}
          <td class="green-bg">{{ macros.render_boolean(survey.year_feedback) }}</td>
        {% elif survey.survey_date %}
          {% set due_date = get_one_year_date(survey.survey_date) %}
          <td {% if due_date <= get_date_now() %}class="red-bg"{% endif %}>
            Due {{ due_date.strftime('%d %b %Y') }}</td>
        {% else %}
          <td></td>
        {% endif %}
      {% else %}
        <td colspan="6"></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock body %}
