{% extends 'admin/master.html' %}
{% import 'admin/macros.html' as macros %}
{% block body %}
{{ super() }}
<div class="pull-right">
  <p>
    {{surveys|length}} surveys<br/>
    <a href="{{url_for('admin.export', filename=export_filename)}}?{{request.query_string}}">
      <button type="button" class="btn btn-default btn-xs">
        Export as CSV
      </button>
    </a>
  </p>
</div>
<p>
<strong>Phases:</strong>
{% for phase in phases %}
  {% if phase == active_phase %}
    <a href="{{remove_from_query(phase=phase)}}">
      <button type="button" class="btn btn-primary btn-xs">
        Phase {{phase|format_db_name}}
      </button>
    </a>
  {% else %}
    <a href="{{modify_query(phase=phase)}}">
      <button type="button" class="btn btn-default btn-xs">
        Phase {{phase|format_db_name}}
      </button>
    </a>
  {% endif %}
{% endfor %}
</p>
<p>
<strong>Filters:</strong>
{% for filter in filters %}
  {% if filter in active_filters %}
    <a href="{{remove_from_query(filter=filter)}}">
      <button type="button" class="btn btn-primary btn-xs">
        {{filter|format_db_name}}
      </button>
    </a>
  {% else %}
    <a href="{{add_to_query(filter=filter)}}">
      <button type="button" class="btn btn-default btn-xs">
        {{filter|format_db_name}}
      </button>
    </a>
  {% endif %}
{% endfor %}
</p>
<table class="table table-condensed table-hover survey-overview-table">
  <thead>
    <tr>
      <th class="survey-overview-col1">
          <a href="{{modify_query(sort='survey',         reverse=reverse)}}">Survey</a></th>
      <th class="text-center"><a href="{{modify_query(sort='ward',           reverse=reverse)}}">Ward</a></th>
      <th>                    <a href="{{modify_query(sort='request_date',   reverse=reverse)}}">Request date</a></th>
      <th>                    <a href="{{modify_query(sort='survey_date',    reverse=reverse)}}">Survey date</a></th>
      <th class="text-center"><a href="{{modify_query(sort='fee_paid',       reverse=reverse)}}">Fee paid?<br>(click to change)</a></th>
      <th>                    <a href="{{modify_query(sort='lead_surveyor',  reverse=reverse)}}">Lead surveyor<br>& assistant</a></th>
      <th class="text-center"><a href="{{modify_query(sort='box_number',     reverse=reverse)}}">Box number</a></th>
      <th class="text-center"><a href="{{modify_query(sort='box_collected',  reverse=reverse)}}">Box collected?<br>(click to change)</a></th>
      <th class="text-center"><a href="{{modify_query(sort='got_result',     reverse=reverse)}}">Survey result</a></th>
      <th class="text-center"><a href="{{modify_query(sort='got_month',      reverse=reverse)}}">One month<br>(due/done)</a></th>
      <th class="text-center"><a href="{{modify_query(sort='got_year',       reverse=reverse)}}">One year<br>(due/done)</a></th>
    </tr>
  </thead>
  <tbody>
    {% macro cell_bg(predicate) -%}
      {% if predicate %}
        class="green-bg"
      {% else %}
        class="red-bg"
      {% endif %}
    {%- endmacro %}
    {% macro details_button(table, id) -%}
      <div class="pull-right" style="padding:0.2em">
        <a class="icon" href="{{url_for(table.replace('_', '')+'.details_view', id=id, url=request.path+'?'+request.query_string)}}">
          <span class="fa fa-pencil glyphicon glyphicon-eye-open"></span>
        </a>
      </div>
    {%- endmacro %}
    {% macro edit_button(table, id) -%}
      <div class="pull-right" style="padding:0.2em">
        <a class="icon" href="{{url_for(table.replace('_', '')+'.edit_view', id=id, url=request.path+'?'+request.query_string)}}">
          <span class="fa fa-pencil glyphicon glyphicon-pencil"></span>
        </a>
      </div>
    {%- endmacro %}
    {% for survey in surveys %}
    <tr>
      <td class="survey-overview-col1">
        {{ edit_button('surveys', survey.id) }}
        <a href="/admin/survey/{{survey.id}}">
          {{survey.name}}<br>
          {{survey.address_line}}</a>
      </td>
      <td class="text-center">{{survey.ward}}</td>
      <td>
        {% if survey.survey_request_date %}
          {{survey.survey_request_date.strftime('%d %b %y')}}
        {% endif %}
      </td>
      <td>
        {% if survey.survey_date %}{{survey.survey_date.strftime('%d %b %y')}}{% endif %}
      </td>
      <td class="text-center" {{cell_bg(survey.fee_paid)}}>
        <a href="{{add_to_query(set_fee_paid=(not survey.fee_paid), survey_id=survey.id)}}"
           onclick="return confirm('Are you sure you want to change this entry?')">
          {{ macros.render_boolean(survey.fee_paid) }}</a>
      </td>
      {% if survey.result %}
        <td>
          {% if survey.result and survey.result[0].lead_surveyor %}
            {{survey.result[0].lead_surveyor}}
          {% endif %}
          {% if survey.result and survey.result[0].assistant_surveyor %}
            <br>{{survey.result[0].assistant_surveyor}}
          {% endif %}
        </td>
        <td class="text-center">
          {% if survey.result and survey.result[0].cheese_box_number %}
            {{survey.result[0].cheese_box_number}}
          {% endif %}
        </td>
        <td class="text-center" {{cell_bg(survey.box_collected)}}>
          <a href="{{add_to_query(set_box_collected=(not survey.box_collected), survey_id=survey.id)}}"
             onclick="return confirm('Are you sure you want to change this entry?')">
            {{ macros.render_boolean(survey.box_collected) }}</a>
        </td>
        <td class="text-center" {{cell_bg(survey.result)}}>
          {{ edit_button('results', survey.result[0].id) }}
          {{ details_button('results', survey.result[0].id) }}
          {{ macros.render_boolean(survey.result) }}
        </td>
        <!--Month feedback-->
        {% if survey.month_feedback %}
          <td class="text-center green-bg">
            {{ edit_button('month_feedback', survey.month_feedback[0].id) }}
            {{ details_button('month_feedback', survey.month_feedback[0].id) }}
            {{ macros.render_boolean(survey.month_feedback) }}
          </td>
        {% elif survey.survey_date %}
          {% set due_date = get_one_month_date(survey.survey_date) %}
          <td class="text-center{% if due_date <= get_date_now() %} red-bg{% endif %}">
            {{ due_date.strftime('%d %b %y') }}</td>
        {% else %}
          <td></td>
        {% endif %}
        <!--Year feedback-->
        {% if survey.year_feedback %}
          <td class="text-center green-bg">
            {{ edit_button('year_feedback', survey.year_feedback[0].id) }}
            {{ details_button('year_feedback', survey.year_feedback[0].id) }}
            {{ macros.render_boolean(survey.year_feedback) }}
          </td>
        {% elif survey.survey_date %}
          {% set due_date = get_one_year_date(survey.survey_date) %}
          <td class="text-center{% if due_date <= get_date_now() %} red-bg{% endif %}">
            {{ due_date.strftime('%d %b %y') }}</td>
        {% else %}
          <td></td>
        {% endif %}
      {% else %}
        <td colspan="6"></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock body %}
