{% extends 'admin/master.html' %}
{% import 'admin/macros.html' as macros %}

{% macro display_entry(name, table, entry) -%}
  <div class="pull-right">
    <a href="{{url_for(name.replace('_', '')+'.edit_view', id=entry.id, url=request.path)}}">
      <span class="fa fa-pencil glyphicon glyphicon-pencil"></span> edit record
    </a>
  </div>
  <table class="table table-condensed">
  <tbody>
  {% for column in table.c %}
  <tr>
    <td>{{ column.name|format_db_name }}</td>
    {% if column.type|string() == 'TEXT' and entry[column.name] %}
      <td>{{ macros.render_text(entry[column.name]) }}</td>
    {% elif column.type|string() == 'BOOLEAN' %}
      <td>{{ macros.render_boolean(entry[column.name]) }}</td>
    {% else %}
      <td>{{ entry[column.name] }}</td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
  </table>
{%- endmacro %}

{% macro display_relation(name, table, relation) -%}
  {% if relation %}
    {% if relation|length == 1 %}
      {{ display_entry(name, table, relation[0]) }}
    {% else %}
      {% set table = name.replace('_', '') %}
      <p>There are multiple entries for this survey:</p>
        <ul>
          {% for x in survey.result %}
            <li>
              Submitted on {{x.date.strftime('%d %b %Y at %X')}}&nbsp;
              <a class="icon" href="{{url_for(table+'.details_view', id=x.id, url=request.path)}}">
                <span class="fa fa-eye glyphicon glyphicon-eye-open"></span>
              </a>
              <a class="icon" href="{{url_for(table+'.edit_view', id=x.id, url=request.path)}}">
                <span class="fa fa-pencil glyphicon glyphicon-pencil"></span>
              </a>
              <form class="icon" method="POST" action="{{url_for(table+'.delete_view') }}">
                {{ delete_form.id(value=x.id) }}
                {{ delete_form.url(value=request.path) }}
                {% if delete_form.csrf_token %}
                  {{ delete_form.csrf_token }}
                {% elif csrf_token %}
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {% endif %}
                <button onclick="return confirm('Are you sure you want to delete this record?');">
                  <span class="fa fa-trash glyphicon glyphicon-trash"></span>
                </button>
              </form>
            </li>
          {% endfor %}
        </ul>
    {% endif %}
  {% else %}
  <p>No {{name}} entry.</p>
  {% endif %}
{%- endmacro %}

{% block body %}
{{ super() }}

<h2>Survey details</h2>

{{ display_entry('surveys', surveys_table, survey) }}

<a name="result">
<h2>Survey result</h2>

{{ display_relation('results', results_table, survey.result) }}

<a name="month-feedback">
<h2>One month feedback</h2>

{{ display_relation('month_feedback', month_table, survey.month_feedback) }}

<a name="year-feedback">
<h2>One year feedback</h2>

{{ display_relation('year_feedback', year_table, survey.year_feedback) }}

{% endblock body %}
