{% extends 'admin/master.html' %}
{% import 'admin/macros.html' as macros %}

{% macro display_entry(name, table, entry) -%}
  <div class="pull-right">
    <a href="{{url_for(name.replace('_', '')+'.edit_view', id=entry.id, url=request.path)}}">
      <span class="fa fa-pencil glyphicon glyphicon-pencil"></span> edit record
    </a>
  </div>
  <table class="table table-condensed">
  <tbody>
  {% for column in table.c %}
  <tr>
    <td>{{ column.name|format_db_name }}</td>
    {% if column.type|string() == 'TEXT' and entry[column.name] %}
      <td>{{ macros.render_text(entry[column.name]) }}</td>
    {% elif column.type|string() == 'BOOLEAN' %}
      <td>{{ macros.render_boolean(entry[column.name]) }}</td>
    {% else %}
      <td>{{ entry[column.name] }}</td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
  </table>
{%- endmacro %}

{% macro display_relation(name, table, relation) -%}
  {% if relation %}
    {% if relation|length == 1 %}
      {{ display_entry(name, table, relation[0]) }}
    {% else %}
      <p>There are multiple entries for this survey:</p>
        <ul>
          {% for x in survey.result %}
            <li>
              <a href="{{url_for(name.replace('_', '')+'.edit_view', id=x.id, url=request.path)}}">
              {{x.date.strftime('%d %b %Y')}}
              </a>
            </li>
          {% endfor %}
        </ul>
    {% endif %}
  {% else %}
  <p>No {{name}} entry.</p>
  {% endif %}
{%- endmacro %}

{% block body %}
{{ super() }}

<h2>Survey details</h2>

{{ display_entry('surveys', surveys_table, survey) }}

<h2>Survey result</h2>

{{ display_relation('results', results_table, survey.result) }}

<h2>One month feedback</h2>

{{ display_relation('month_feedback', month_table, survey.month_feedback) }}

<h2>One year feedback</h2>

{{ display_relation('year_feedback', year_table, survey.year_feedback) }}

{% endblock body %}
