{% extends 'admin/master.html' %}
{% import 'admin/macros.html' as macros %}
{% block body %}
{{ super() }}
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Survey</th>
      <th>Ward</th>
      <th>Survey date</th>
      <th>Box</th>
      <th>Box collected?</th>
      <th>Surveyor</th>
      <th>Result</th>
      <th>One month</th>
      <th>One year</th>
    </tr>
  </thead>
  <tbody>
    {% for survey in surveys %}
    <tr>
      <td><a href="/admin/survey/{{survey.id}}">
          {{survey.name}}, {{survey.address_line}}</a></td>
      <td>{{survey.ward}}</td>
      <td>{{survey.survey_date}}</td>
      <td>{{ survey.result.loaned_cheese_box }}</td>
      <td>{{ macros.render_boolean(survey.box_collected) }}</td>
      <td>{{ survey.surveyor }}</td>
      <td>{{ macros.render_boolean(survey.result) }}</td>
      <td>{{ macros.render_boolean(survey.month_feedback) }} </td>
      <td>{{ macros.render_boolean(survey.year_feedback) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock body %}
