{% macro render_boolean(value) -%}
  {% if value %}
    <span class="glyphicon glyphicon-ok" style="color:green"></span>
  {% else %}
    <span class="glyphicon glyphicon-remove" style="color:red"></span>
  {% endif %}
{%- endmacro %}

{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Survey</th>
      <th>Ward</th>
      <th>Box collected?</th>
      <th>Result</th>
      <th>One month</th>
      <th>One year</th>
    </tr>
  </thead>
  <tbody>
    {% for survey in surveys %}
    <tr>
      <td><a href="/admin/survey/{{survey.id}}">
          {{survey.name}}, {{survey.address_line}}</a></td>
      <td>{{survey.ward}}</td>
      <td>{{ render_boolean(survey.box_collected) }}</td>
      <td>{{ render_boolean(survey.result) }}</td>
      <td>{{ render_boolean(survey.month_feedback) }} </td>
      <td>{{ render_boolean(survey.year_feedback) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock body %}
