{% extends "base.html" %}
{% block content %}

<div class="page-contents pull-right">
  <ul class="list-unstyled page-contents-list">
    <li><a href="#achievements">Our achievements</a></li>
    <li><a href="#plans">Our plans</a></li>
    <li><a href="#organisation">Organisation and management</a></li>
    <li><a href="#funding">Funding</a></li>
    <li><a href="#faq">FAQ</a></li>
  </ul>
</div>

<a name="achievements"></a>
<h3>Our achievements</h3>

<p>Last 2015/16 winter we completed a successful pilot of the CHEESE Project
  in Bristol in Bishopston, Cotham, Redland, Easton and Lawrence Weston.
  We conduced over 50 internal house surveys and captured 11,000 thermal images
  of domestic properties in the same wards for our <a
  href="http://www.heatview.co.uk">Heatview map</a>.</p>

<p>For this work, the CHEESE project <a
  href="http://bristolgreencapital.org/winners-announced-in-the-green-volunteers-awards-2016">
  won the Volunteers for Energy Award</a> at the Bristol
Green Capital Partnership Green Volunteers' Awards 2016.</p>

<a name="plans"></a>
<h3>What we are planning</h3>

<p>Based on the success of our pilot, we are planning to expand the CHEESE
Project in Bristol this winter. We will conduct over 200 internal surveys of
homes and expand the Heatview dataset to include more Bristol streets. From
this experience we will document common faults and remedies and make this
information available to the 200,000 households in Bristol.</p>

<p>In winter 2017/18 we want to double the scale of the CHEESE Project to
survey over 400 houses, and we are keen to establish city partners elsewhere in
the UK.</p>

<a name="organisation"></a>
<h3>Organisation and management</h3>

<p>The CHEESE Project was setup in 2015, Bristol's Green Capital year, by a
small group of local people concerned about climate change and who wanted to
make Bristol a truly sustainable city.</p>

<p>The Project is organised by a <i>central office</i> but it operates through
<i>community segments</i> and <i>city partners</i> who carry out the internal
and external surveys. Community segments are partner associations based in
Bristol city wards and city partners replicate the CHEESE Project, in
coordination with Bristol, in other cities.</p>

<p>We currently have three community segments in Bristol:
<ul>
  <li><a href="http://www.ambitionlw.org">
      Ambition Lawrence Weston</a></li>
  <li><a href="http://www.eastonenergygroup.org">
      Easton Energy Group</a></li>
  <li><a href="https://www.facebook.com/BCR.EnergyGroup">
      Bishopston, Cotham, Redland Energy Group</a></li>
</ul>
</p>

<p>Our central office management team consists of six people:
<ul>
  <li>Michael Alford Andrews, General manager.</li>
  <li>Jeremy Birch, Technical manager.</li>
  <li>David Tudgey, Community and development manager.</li>
  <li>Brian Harper.</li>
  <li>James Hanlon.</li>
  <li>Susan Nicholls.</li>
</ul>
</p>

<p>For more information on the structure and organisation of the CHEESE
Project, please read our
<a href="static/files/CHEESE-Constitution-17August2016.pdf">constitution (PDF)</a>
.</p>

<a name="funding"></a>
<h3>Funding</h3>

<p>The CHEESE pilot project was setup in November 2014 with funding from
<a href="http://bristolgreencapital.org/">Bristol Green Capital 2015</a> and
with the support of <a href="http://www.bristolenergynetwork.org">Bristol
  Energy Network</a>.
Two initial small grants of &pound;5,000 were
awarded to <a href="http://www.eastonenergygroup.org">Easton Energy
Group</a> and <a href="http://www.ambitionlw.org">Ambition Lawrence Weston</a>.
A further two grants were awarded to the Bishopston, Cotham and
Redland Neighbourhood Partnership of &pound;2,000 and &pound;1,610.</p>

<p>For phase two of the project, to date we have recieved £4,400 from the
Community Energy Best Practice fund, £10,000 from the <a
  href="http://www.bristolcommunityenergy.co.uk/">Community Energy Fund</a> and
£10,000 from <a
  href="https://www.biglotteryfund.org.uk/global-content/programmes/england/awards-for-all-england">
  Lottery Awards for All</a>.</p>

<a name="faq"></a>
<h3>FAQ</h3>

<p>In preparation...</p>

{% endblock %}
