<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>The CHEESE Project</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans'
          rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div style="text-align:center">
          <img src="/static/images/title.png" width="500px">
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/apply-for-a-survey">Apply for a survey</a></li>
            <li><a href="/get-involved">Get involved</a></li>
            <li><a href="/about">About the project</a></li>
            <li><a href="http://www.heatview.co.uk">The Heatview map</a></li>
          </ul>
        </nav>
      </div>
      <div id="imagemodal" class="modal fade" tabindex="-1" role="dialog"
           aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <img src="" id="imagepreview">
            <div id="imagepreview-caption"></div>
          </div>
        </div>
      </div>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
      <footer>
        <hr>
        <div id="footer-right">
        <small>
        Our partner organisations:<br>
        <ul>
          <li><a href="http://www.bristolenergynetwork.org">
              Bristol Energy Network</a></li>
          <li><a href="http://www.ambitionlw.org">
              Ambition Lawrence Weston</a></li>
          <li><a href="http://www.eastonenergygroup.org">
              Easton Energy Group</a></li>
          <li><a href="https://www.facebook.com/BCR.EnergyGroup">
              Bishopston, Cotham, Redland Energy Group</a></li>
          <li><a href="https://transitionmalvernhills.org.uk">
              Transition Malvern Hills</a></li>
        </ul>
        </small>
        </div>
        <div id="footer-left">
        <p><small>The CHEESE project is a not-for-profit community enterprise
        that aims to reduce energy bills, improve health and wellbeing, and
        reduce our carbon emissions.</small></p>
        <ul>
          <li><a href="mailto:info@cheeseproject.co.uk">
              info@cheeseproject.co.uk</a></li>
          <li><a href="http://www.twitter.com/CHEESEBristol/">
              @CHEESEBristol</a></li>
        </ul>
        </div>
      </div>
    </footer>
    <script src="/static/jquery-3.1.1.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-75834181-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
