{% extends "base.html" %}
{% block content %}

<div class="page-contents pull-right">
  <ul class="list-unstyled page-contents-list">
    <li><a href="#energy-tracers">Energy Tracers wanted!</a></li>
    <li><a href="#volunteering">Volunteering</a></li>
  </ul>
</div>

<a name="energy-tracers"></a>
<h2>Energy Tracers wanted!</h2>

<div class="pull-left"><img src="static/images/ETlogo.png"></div>

<p>We are currently looking for enthusiastic people to train to become CHEESE
<i>Energy Tracers</i> over this winter.</p>

<p>Licensed Energy Tracers conduct thermal-imaging surveys of domestic
buildings to identify areas of poor thermal efficiency. They also provide the
householder with information on how to tackle any of the issues identified and
other general ways of saving energy in their home.</p>

<p>As an Energy Tracer, you will learn how to operate the CHEESE thermal
imaging equipment, how to interpret thermal images and the basics of building
construction and energy efficiency. As well as this, you will have the
opportunity to meet new and interesting people, to make a significant
contribution to an exciting and important project, to gain expertise that might
help in your career advancement and to earn some extra money.  Since training
and surveys will be done outside of normal working hours, being an Energy
Tracer can be fitted around a full-time job.</p>

<p>To train to become an Energy Tracer, you will first need to attend our
training course to learn the basics of thermal imaging and building
construction. After that, you will work with a trained Energy Tracer and shadow
them as they perform house surveys to gain experience and confidence. To become
fully-fledged, you will need to pass a short practical exam, but you will then
be eligible for payment and be able to lead surveys, mostly during evenings and
weekends, and train new aspiring Energy Tracers</p>

<p>If you are excited by the idea of becoming involved with the CHEESE Project
to train as an Energy Tracer, then please get in touch by emailing
<a href="mailto:info@cheeseproject.co.uk">info@cheeseproject.co.uk</a> to
introduce yourself.</p>

<a name="volunteering"></a>
<h2>Volunteering</h2>

<p>The CHEESE Project operates on a very small budget and depends on the work
of volunteers for its continued organisation and management. If you are
interested in becoming involved with the project, but not as an Energy Tracer,
there are many other areas where we need help:

<ul>

  <li>We are looking for volunteers to collect thermal images of buildings to
    expand our <a href="http://www.heatview.co.uk">Heatview map</a>. This will
    involve operating a CHEESE thermal imaging camera, for which there will be
  a short training session provided.</li>

  <li>We would also welcome your help in other areas of the project, such as
    community outreach and promotion of the project, its surveys, and
    opportunities for Energy Tracers; coordination and organisation for surveys;
    social media; website development; and data analysis. We are also open to
    suggestions of ways to improve the project!</li>

</ul>
</p>

<p>If you would like to become involved with CHEESE as a volunteer, or just
want to find out more then please get in touch by emailing
<a href="mailto:info@cheeseproject.co.uk">info@cheeseproject.co.uk</a> to
introduce yourself.</p>

{% endblock %}
