{% extends "base.html" %}
{% block content %}

<div class="banner">
  <div class="big-text">
    Save money and improve the comfort of<br>
    your home with a CHEESE survey
  </div>
  <p>CHEESE thermal-imaging home surveys identify where your home is loosing
  heat and we will suggest remedies to reduce your energy use and bills.
  Read more about
  <a href="/home-surveys">how a survey works</a>, or
  <a href="/apply-for-a-survey">apply for a survey now</a>.
  <div class="banner-imgs">
    <div style="display:inline-block">
    <a href="javascript:void(0)" class="pop">
      <img src="{{'static/images/thermal6.jpg'|thumbnail('120x171')}}"
           alt="Draught between floorboards">
    </a>
    <div class="imgcaption">Draught between floorboards</div>
    </div>
    <div style="display:inline-block;">
    <a href="javascript:void(0)" class="pop">
      <img src="{{'static/images/thermal7.jpg'|thumbnail('120x171')}}"
           alt="Missing cavity wall insulation">
    </a>
    <div class="imgcaption">Missing cavity wall insulation</div>
    </div>
    <div style="display:inline-block;">
    <a href="javascript:void(0)" class="pop">
      <img src="{{'static/images/thermal8.jpg'|thumbnail('120x171')}}"
           alt="Cold bathroom vent">
    </a>
    <div class="imgcaption">Cold bathroom vent</div>
    </div>
    <div style="display:inline-block;">
    <a href="javascript:void(0)" class="pop">
      <img src="{{'static/images/thermal9.jpg'|thumbnail('120x171')}}"
           alt="Cold loft entrance">
    </a>
    <div class="imgcaption">Cold loft entrance</div>
    </div>
    <div style="display:inline-block;">
    <a href="javascript:void(0)" class="pop">
      <img src="{{'static/images/thermal10.jpg'|thumbnail('120x171')}}"
           alt="Poorly fitted window">
    </a>
    <div class="imgcaption">Poorly fitted window</div>
    </div>
  </div>
  <div class="caption">
      These are some common faults shown up by CHEESE thermal image
      surveys, where red and white is hottest and blue and black coldest.
      <div style="text-align:center; padding-top:0.4em">
        Cold <img src="static/images/rainbow.jpg"> Hot
      </div>
  </div>
</div>

<h3>Latest news</h3>

<div class="news">
{% for item in news_items %}
  <div class="news-item-short">
    <strong>{{item.title}}</strong>, <span class="news-date">{{item.date_str}}</span>
    {{item}}
  </div>
{% endfor %}
</div>

<p style="padding-top:1em"><a href="/news">Read more news...</a></p>

{% endblock %}
