{% extends "base.html" %}
{% block content %}

<div class="splash">
<p>The CHEESE Project aims to reduce domestic energy losses, at low cost,
by up to a third. This saves money, improves health and wellbeing and,
reduces our carbon emissions.</p>
</div>

<div class="banner">
  <div style="display:inline-block">
  <a href="javascript:void(0)" class="pop">
    <img src="{{'static/images/thermal6.jpg'|thumbnail('128x171')}}"
         alt="Draught between floorboards">
  </a>
  <div class="imgcaption">Draught between floorboards</div>
  </div>
  <div style="display:inline-block;">
  <a href="javascript:void(0)" class="pop">
    <img src="{{'static/images/thermal7.jpg'|thumbnail('128x171')}}"
         alt="Missing cavity wall insulation">
  </a>
  <div class="imgcaption">Missing cavity wall insulation</div>
  </div>
  <div style="display:inline-block;">
  <a href="javascript:void(0)" class="pop">
    <img src="{{'static/images/thermal8.jpg'|thumbnail('128x171')}}"
         alt="Cold bathroom vent">
  </a>
  <div class="imgcaption">Cold bathroom vent</div>
  </div>
  <div style="display:inline-block;">
  <a href="javascript:void(0)" class="pop">
    <img src="{{'static/images/thermal9.jpg'|thumbnail('128x171')}}"
         alt="Cold loft entrance">
  </a>
  <div class="imgcaption">Cold loft entrance</div>
  </div>
  <div style="display:inline-block;">
  <a href="javascript:void(0)" class="pop">
    <img src="{{'static/images/thermal10.jpg'|thumbnail('128x171')}}"
         alt="Poorly fitted window">
  </a>
  <div class="imgcaption">Poorly fitted window</div>
  </div>
</div>
<div class="caption">
    These are some common faults shown up by CHEESE thermal image
    surveys, where red and white is hottest and blue and black coldest.
    <div style="text-align:center; padding-top:0.4em">
      Cold <img src="static/images/rainbow.jpg"> Hot
    </div>
</div>

<div class="notice">
  <p><strong>We are now planning phase two of the CHEESE
    Project and we need your involvement!</strong></p>
  <p>We are looking for
  enthusiastic people to train to become <i>Energy Tracers</i> and help us to
  conduct internal surveys. If you are interested, <a href="/get-involved">read
    more about what it involves</a> and get in touch to apply.</p>
  <p>We are also now taking
  bookings for internal home surveys between November 2016 and March 2017.
  You can find more details and an application form on the
  <a href="/apply-for-a-survey">apply for a survey</a> page.
</div>

<h3>Overview</h3>

<p>Most of the buildings in which we live are <a
  href="https://en.wikipedia.org/wiki/Energy_efficiency_in_British_housing">
  thermally inefficient</a>. Much of the energy we use to heat
them escapes, providing little benefit, and costing us money. Domestic
energy consumption accounts for <a
  href="https://www.gov.uk/government/collections/energy-consumption-in-the-uk">
  approximately one third of UK energy demand</a> and, also for the
<a href="http://gridwatch.co.uk/">largest peaks in demand</a>. Of that, space
and water heating account for
<a href="https://www.gov.uk/government/statistics/energy-consumption-in-the-uk">
  approximately 80% of total domestic energy consumption</a>.</p>

<p>One <a
  href="http://www.demandenergyequality.org/2030-energy-scenario.html">study
  has shown</a> that we need to reduce domestic demand by 57% if we are
to transition to a decarbonised energy system and reduce global warming
to <a href="https://en.wikipedia.org/wiki/Avoiding_Dangerous_Climate_Change">
  an 'acceptable' 2C</a>.
By reducing the energy we waste in our homes we
can make a positive contribution to reducing global warming, whilst also saving
money on bills, and improving our comfort and wellbeing.</p>

<p>The aim of the CHEESE Project is to reduce domestic heat losses. We do
this by performing detailed surveys of homes using low-cost thermal imaging
equipment to identify areas where simple but effective remedial action can be
taken. It is estimated that 30% of heating losses are due to drafts, which can
be fixed cheaply and easily when they have been identified.  We record
energy consumption before and after a survey, to verify the impact of our
work.</p>

<h3>Latest news</h3>

<div class="news">
<ul>
{% for item in news_items %}
  <li><strong>{{item.title}}</strong>. {{item}}</li>
{% endfor %}
</ul>
</div>

<p><a href="/news">Read more news...</a></p>

<h3>Thermal imaging of Bristol housing</h3>

<p>We have been carrying out external thermal imaging surveys by photographing
houses in Bristol streets to reveal the heat being lost, to encourage
householders to request an internal survey. This uses the effective principle
of <i>seeing is believing</i>. All of the images are available on the <a
  href="http://www.heatview.co.uk">Heatview.co.uk</a> website, where you can
browse the map and find your own house (as long as it is in one of our pilot
areas).</p>

<a href="http://www.heatview.co.uk">
  <img src="static/images/heatview.png" height="250px"></a>
<img src="static/images/heatview-image.png" height="250px">

<h3>Internal home surveys</h3>

<p>Our internal surveys are based on a unique methodology developed by
Brian Harper, who has been working with thermal imaging for 45 years and
has surveyed over 400 homes. The method involves heating the house to 10
degrees above ambient temperature, reducing the indoor pressure and
locating incoming cold draughts, inadequate insulation, poor construction,
etc.</p>

<p>The householder observes the survey and is informed of any energy-loss
problems as they are revealed. The survey is also filmed, capturing the
live thermal images and commentary from the surveyor, to provide to the
householder for future reference.</p>

<p>You can find out more about what is involved with a survey and apply for one
on the <a href="/apply-for-a-survey">survey page</a>.</p>

{% endblock %}
