{% extends "base.html" %}
{% block content %}

<h1>Submit follow-up results</h1>

<p>Please complete the form below to complete a one-month or one-year
householder follow up, filling in the relevant fields.</p>

<p>When asking for feedback from the householder, condsider asking how
satisfied they were in terms of:
<ul>
  <li>The communication and arrangements before the survey.</li>
  <li>The conduct of the surveyors.</li>
  <li>The time-keeping of the surveyors.</li>
  <li>The results of the survey and the suggested remedies.</li>
  <li>The record of the survey on the memory stick.</li>
  <li>The usefulness of the energy pack.</li>
  <li>The value for money of the survey.</li>
  <li>Their overall satisfaction.</li>
</ul>
And record any other comments they have.
</p>

<div id="survey-form" style="padding-top:1.2em">
  <form method="POST" action="">
    {{ form.hidden_tag() if form.hidden_tag }}
    {% for f in form if f.type != 'CSRFTokenField' %}
      {% if f.errors %}
        <div class="form-group has-error">
          {{ f.label(class_="control-label") }}{{ f(class_="form-control") }}
          {% for e in f.errors %}
            <span class="help-block">{{ e }}</span>
          {% endfor %}
        </div>
      {% else %}
        <div class="form-group">
          {{ f.label(class_="control-label") }}{{ f(class_="form-control") }}
        </div>
      {% endif %}
    {% endfor %}
    <label></label>
    <button class="btn" type="submit">Submit</button>
  </form>
</div>

{% endblock %}
