uwsgi==2.0.14
MySQL-python==1.2.5
pillow==4.0.0
flask==0.11
Flask-Script==2.0.5
Flask-Migrate==2.0.0
Flask-Admin==1.5.0
Flask-BasicAuth==0.2.0
Flask-SQLAlchemy==2.1
Flask-Security==1.7.5
Flask-FlatPages==0.6
Flask-thumbnails==0.2.1
Flask-Uploads==0.2.1
WTForms-SQLAlchemy==0.1
mixer==5.6.6
