cffi==1.11.5
uwsgi==2.0.15
MySQL-python==1.2.5
pillow==4.1.1
blinker==1.4
mixer==5.6.6
pytest==3.3
SQLAlchemy==1.2.12
SQLAlchemy-Utils==0.33.5
requests==2.21.1
boto3==1.9.14
Markdown==2.6.11
WTForms==2.2.1
WTForms-Alchemy==0.16.7
WTForms-Components==0.10.2
Flask==1.0.2
Flask-Admin==1.5.3
Flask-BasicAuth==0.2.0
Flask-FlatPages==0.6
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-Security==1.7.5
Flask-SQLAlchemy==2.3.2
Flask-thumbnails==1.0.6
Flask-Uploads==0.2.1
Flask-User==0.6.19
Flask-WTF==0.14.2
